* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.bottom-header__button, .content-experience__button {
  background-color: #8824cd;
  border-radius: 25px;
  font-size: 18px;
  font-family: "OpenSans Bold";
  color: white;
  font-weight: bold;
  line-height: 3.341;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.bottom-header__button:hover, .content-experience__button:hover {
  background-color: #ffffff;
  color: #8824cd;
}

.content-pink__button {
  background-color: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  font-family: "OpenSans Bold";
  color: #d54c63;
  font-weight: bold;
  line-height: 3.341;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.content-pink__button:hover {
  background-color: #d54c63;
  color: white;
}

.content__button {
  background-color: #ffffff00;
  border-radius: 30px;
  border: solid 2px white;
  font-size: 18px;
  font-family: "OpenSans Bold";
  color: white;
  font-weight: bold;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.content__button:hover {
  background-color: #ffffff;
  color: #504a4a;
}

@font-face {
  font-family: "FontAwesome Regular";
  src: url("../fonts/fontawesome5freeregular.eot");
  src: url("../fonts/fontawesome5freeregular.eot") format("embedded-opentype"), url("../fonts/fontawesome5freeregular.woff2") format("woff2"), url("../fonts/fontawesome5freeregular.woff") format("woff"), url("../fonts/fontawesome5freeregular.ttf") format("truetype"), url("../fonts/fontawesome5freeregular.svg") format("svg");
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../OpenSans-Bold.eot");
  src: local("OpenSans Bold"), local("OpenSans Bold"), url("../fonts/OpenSans-Bold.eot") format("embedded-opentype"), url("../OpenSans-Bold.woff") format("woff"), url("../OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Light.eot");
  src: local("OpenSans Light"), local("OpenSans Light"), url("../OpenSans-Light.eot") format("embedded-opentype"), url("../OpenSans-Light.woff") format("woff"), url("../OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("OpenSans Regular"), local("OpenSans Regular"), url("../OpenSans-Regular.eot") format("embedded-opentype"), url("../OpenSans-Regular.woff") format("woff"), url("../OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../OpenSans-SemiBold.eot");
  src: local("OpenSans SemiBold"), local("OpenSans SemiBold"), url("../OpenSans-SemiBold.eot") format("embedded-opentype"), url("../OpenSans-SemiBold.woff") format("woff"), url("../OpenSans-SemiBold.ttf") format("truetype");
}

.container {
  max-width: 1180px;
  margin: 0px auto;
}

body {
  min-width: 350px;
}

.header {
  background: url(../img/bc1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.header__top {
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #412f3c;
}

.top-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.top-header__logo img:first-child {
  height: 21px;
  width: 40px;
}

.top-header__logo img:last-child {
  height: 13px;
  width: 133px;
}

.top-header__menu {
  position: absolute;
  right: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 29px;
          column-gap: 29px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.menu__link {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  line-height: 6;
  text-decoration: none;
  font-family: "OpenSans Regular";
  font-style: normal;
}

.menu__link::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
}

.menu__search {
  height: 44px;
  width: 220px;
  background-color: white;
  border-radius: 26px;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__search button {
  padding: 3px 0px 0px 0px;
}

.bottom-header__body {
  height: 788px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.bottom-header__content {
  text-align: right;
  margin-left: 15px;
}

.bottom-header__title {
  font-size: 50px;
  font-family: "OpenSans Regular";
  color: white;
  margin-bottom: 50px;
  line-height: 1.4;
}

.bottom-header__button {
  height: 60px;
  width: 280px;
  margin-bottom: 18px;
}

.bottom-header__subtitle {
  margin-right: 50px;
  font-size: 12px;
  font-family: "OpenSans Regular";
  color: white;
  line-height: 1.417;
}

.footer {
  background-color: #2e3b4e;
}

.footer__body {
  height: 367px;
}

.footer__text {
  padding-top: 47px;
  font-size: 12px;
  font-family: "OpenSans";
  color: white;
}

.features {
  background-color: #2e3b4e;
}

.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 510px;
  height: auto;
  position: relative;
}

.features__body .line {
  position: absolute;
  background-color: #2e3b4e;
  height: 100px;
  width: 120px;
  left: 44%;
  bottom: -35px;
  border-radius: 50%;
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 65px;
  -webkit-column-gap: 38px;
          column-gap: 38px;
}

.item__title {
  font-size: 15px;
  font-family: "OpenSans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.733;
  margin-bottom: 25px;
}

.item__text {
  width: 400px;
  font-size: 15px;
  font-family: "OpenSans";
  color: white;
  line-height: 1.733;
}

.pink {
  background: url(../img/bc2.png);
}

.pink__body {
  min-height: 539px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pink__content {
  text-align: center;
}

.content-pink__title {
  font-size: 35px;
  font-family: "OpenSans Light";
  color: white;
  line-height: 1.716;
  margin-bottom: 15px;
}

.content-pink__text {
  font-size: 15px;
  font-family: "OpenSans Regular";
  color: white;
  line-height: 1.733;
  width: 480px;
  margin-bottom: 35px;
}

.content-pink__button {
  height: 60px;
  width: 340px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 496px;
  height: auto;
}

.content-about__title {
  font-size: 15px;
  font-family: "OpenSans Bold";
  color: #3a4d60;
  text-transform: uppercase;
  line-height: 1.733;
  text-align: left;
  width: 655px;
}

.content-about__text {
  font-size: 15px;
  font-family: "OpenSans";
  color: #3a4d60;
  font-weight: bold;
  line-height: 1.733;
  text-align: left;
  width: 648px;
  margin-bottom: 40px;
}

.experience {
  background: url(../img/bc4.png);
  background-size: cover;
  background-position: center;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.experience__body {
  background-color: #4b1e5bd4;
  height: 457px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__content {
  text-align: center;
}

.content-experience__title {
  font-size: 40px;
  font-family: "OpenSans";
  color: white;
  line-height: 1.2;
  margin-bottom: 38px;
}

.content-experience__text {
  font-size: 20px;
  font-family: "OpenSans";
  color: #a87bb7;
  line-height: 1.65;
  width: 820px;
  margin-bottom: 32px;
}

.content-experience__button {
  height: 60px;
  width: 280px;
  margin-bottom: 20px;
}

.content-experience__subtitle {
  font-size: 12px;
  font-family: "OpenSans";
  color: white;
  line-height: 1.417;
}

.blaz-robar {
  background: url(../img/bc5.png);
  background-size: cover;
  background-position: center;
}

.blaz-robar__body {
  min-height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.content__button {
  height: 35px;
  width: 135px;
  margin-bottom: 25px;
}

.content__text {
  font-size: 40px;
  font-family: "OpenSans";
  color: white;
  line-height: 1.25;
  text-align: left;
  width: 510px;
  margin-bottom: 25px;
}

.content__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 105px;
}

.user-content__text {
  font-size: 13px;
  font-family: "OpenSans";
  color: white;
  line-height: 3.077;
  text-align: left;
  width: 208px;
}

.get-in-touch {
  background-color: #e7526b;
  height: 460px;
}

.get-in-touch__content {
  padding-top: 79px;
}

.content-get-in-touch__title {
  font-size: 15px;
  font-family: "OpenSans Bold";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.733;
  margin-bottom: 23px;
}

.content-get-in-touch__text {
  font-size: 15px;
  font-family: "OpenSans Bold";
  color: white;
  font-weight: bold;
  line-height: 1.733;
  width: 390px;
  margin-bottom: 36px;
}

.content-get-in-touch__email a {
  font-size: 15px;
  font-family: "OpenSans Bold";
  color: white;
  font-weight: bold;
  line-height: 1.733;
}
