@font-face {
	font-family: "FontAwesome Regular";
	src: url("../fonts/fontawesome5freeregular.eot");
	src:
		url("../fonts/fontawesome5freeregular.eot") format("embedded-opentype"),
		url("../fonts/fontawesome5freeregular.woff2") format("woff2"),
		url("../fonts/fontawesome5freeregular.woff") format("woff"),
		url("../fonts/fontawesome5freeregular.ttf") format("truetype"),
		url("../fonts/fontawesome5freeregular.svg") format("svg");
}
@font-face {
	font-family: "OpenSans Bold";
	src: url("../OpenSans-Bold.eot");
	src:
		local("OpenSans Bold"),
		local("OpenSans Bold"),
		url("../fonts/OpenSans-Bold.eot") format("embedded-opentype"),
		url("../OpenSans-Bold.woff") format("woff"),
		url("../OpenSans-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans Light";
	src: url("../fonts/OpenSans-Light.eot");
	src:
		local("OpenSans Light"),
		local("OpenSans Light"),
		url("../OpenSans-Light.eot") format("embedded-opentype"),
		url("../OpenSans-Light.woff") format("woff"),
		url("../OpenSans-Light.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans Regular";
	src: url("../fonts/OpenSans-Regular.eot");
	src:
		local("OpenSans Regular"),
		local("OpenSans Regular"),
		url("../OpenSans-Regular.eot") format("embedded-opentype"),
		url("../OpenSans-Regular.woff") format("woff"),
		url("../OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans SemiBold";
	src: url("../OpenSans-SemiBold.eot");
	src:
		local("OpenSans SemiBold"),
		local("OpenSans SemiBold"),
		url("../OpenSans-SemiBold.eot") format("embedded-opentype"),
		url("../OpenSans-SemiBold.woff") format("woff"),
		url("../OpenSans-SemiBold.ttf") format("truetype");
}
